<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>가짜 검색앱</h1>
  <form action="https://search.naver.com/search.naver">      <!-- action 속성은 "어디로" 의 의미!!-->
    naver : <input type="text" name="query">
    <input type="submit">
  </form>
  <form action="https://www.google.com/search">
    google : <input type="text" name="q">
    <input type="submit">
  </form>
    

  <p>궁합</p>
  <form action="">
    자기이름 <input type="text"><br>
    상대이름 <input type="text">
    제출<input type="submit">
  </form>
</body>
</html>